
*{
    font-family: sans-serif;
}

.btn{
    background-color: #a73e53;
}

.section-title{
    text-align: center;
    padding-top: 35px;
    font-size: 35px;
    font-weight: 600;
    color: lightseagreen;
}

.title-discription{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #c9368f;
}

/*---Header---Start---*/
header{
    background-color: pink;
    width: 100%;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}

.flower-title{
    padding-top: 150px;
    width: 350px;
    margin-left: 150px;
    font-size: 40px;
}

.flower-riscription{
    width: 350px;
   margin-left: 150px;
   font-size: 18px;
   color: #343232;
}

.flower-image{
   width: 300px;
   left: 55%;
   bottom: 30%;
   padding-top: 150px;
   margin-right: 150px;
}

.shop-now{
    margin-left: 150px;
    border: 0;
    padding: 10px 14px;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
/*---header---end---*/



/*---feauter---start---*/
.feauter-content{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.feauter-content .img-box{
    margin-top: 25px;
    background-color: #acdbdb;
    padding: 25px;
    border-radius: 50% 50% 0 0;
}

.feauter-content .img-box img{
    width: 200px;
}

.flower-catagiry{
    text-align: center;
    text-decoration: underline;
    color: #ff004f;
}
/*---feauter---end---*/



/*---delevary---start---*/
.delevary-contant{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    background-color: #bed7ed;
    padding: 25px;
    height: 30vh;
    width: 750px;
    margin: 0 auto;
    margin-top: 70px;
}

.delevary-box{
    padding-top: 25px;
}

.delevary-box-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
/*---delevary---end---*/





/*--hot--day--Section-start--*/
.hot-dea-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin-top: 60px;
}

.hot-dea-main{
    text-align: center;
}

.hot-dea-title{
    font-size: 25px;
    color: #343232;
    font-weight: 600;
}

.span-off{
    color: #ff004f;
}

.hot-dea-description{
    width: 500px;
    font-weight: 600;
    color: #434040;
}

.hot-dea-button{
    border: none;
    padding: 12px 14px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}

.hot-dea-contant img{
    margin-left: 70px;
}
/*--hot--day--Section-End--*/